body,
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'dance';
    src: url(./fonts/DancingScript-Medium.ttf);
}
@font-face {
    font-family: 'dancing';
    src: url(./fonts/Satisfy-Regular.ttf);
}
@font-face {
    font-family: 'danc';
    src: url(./fonts/Courgette-Regular.ttf);
}
@font-face {
    font-family: 'bold';
    src: url(./fonts/NanumMyeongjo-Regular.ttf);
}
@font-face {
    font-family: 'uxo';
    src: url(./fonts/Amiri-Bold.ttf);
}
@font-face {
    font-family: 'ramadan';
    src: url(./fonts/IndieFlower-Regular.ttf);
}
html{
    scroll-behavior: smooth;
}

header {
    background-image: linear-gradient(rgb(12, 38, 94), rgb(66, 30, 163));

    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.container {
    max-width: 1400px;
    margin: 0px auto;
}
.table {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    box-shadow: 0 0 2rem 0 rgb(0 0 5 / 50%);
   
}
.text p {
    margin-bottom: -24px;
}
table td {
    border: 1px solid #000;
    padding: 4px 14px;
    background-color: #4c4a59;
    text-align: center;
    width: 500px;
    
}
.custom-select {
    margin: 10px 10px;
    padding: 0px 0pxf;
}
.ups {
    
    justify-content: space-between;
    padding: 5px 5px;
}
.ups img {
    padding: 0px 0px;
}

.juma {
    background-color: rgb(230 230 69);
    color: black;
    box-shadow: 0 0 5rem 0 rgb(0 0 5 / 100%);
}
.ups a {
    text-decoration: none;
    color: white;

    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
}

.timeText {
    color: white;
    font-family: 'bold';
    margin-left: 10px;
    text-decoration: underline rgb(196, 196, 179);
    margin-bottom: 10px;
}
table th {
    padding: 4px 8px;
    background-color: #554d67;
    color: white;
    font-family: 'uxo';
}
tr > td {
    color: #ffffff;
    font-family: 'bold';
}


.dua {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 150px;
}
.open {
    border-radius: 0.5px solid #c4c4c4;
    padding: 50px 10px;
    width: 100%;
    font-family: 'bold';
    margin-bottom: 20px;
    box-shadow: 0 0 2rem 0 rgb(0 0 5 / 50%);
    color: white;
    font-size: 20px;
    
}
.close {
    font-size: 20px;
    border-radius: 0.5px solid #c4c4c4;
    padding: 50px 10px;
    width: 100%;
    
    font-family: 'bold';
    color: white;
    margin-bottom: 20px;
    box-shadow: 0 0 2rem 0 rgb(0 0 5 / 50%);
}
.open h2 {
    margin-bottom: 15px;
    
    
}
.close h2 {
    margin-bottom: 15px;
}
.ground .img1 {
    position: absolute;
    left: 22%;
    right: 45%;
    top: -5%;
    z-index: 2;
}
.ground .img2 {
    width: 400px;
    position: absolute;
    top: 25%;
    left: 35%;
    z-index: 2;
    animation: animate2 10s linear infinite;
    animation-direction: alternate;
}
.ground .img3 {
    width: 400px;
    top: 35%;
    left: 7%;
    z-index: 2;
    position: absolute;
    animation: animate3 20s linear infinite;
    animation-direction: alternate;
}
.ground .img4 {
    width: 400px;
    top: 5%;
    z-index: 2;
    left: 0%;
    position: absolute;
    animation: animate4 5s linear infinite;
    animation-direction: alternate;
}
.ground .img5 {
    width: 400px;
    top: 0%;
    left: 60%;
    z-index: 2;
    position: absolute;
    animation: animate5 20s linear infinite;
    animation-direction: alternate;
}
.light  {
    display: flex;
    justify-content: space-between;
}
.light .lamp img {
    height: 400px;
    top: -20%;
    left: 20%;
    position: absolute;
    animation: shake1 3s linear infinite;
    animation-direction: alternate;
    filter: invert(0) sepia(6) saturate(10) hue-rotate(0deg) brightness(0.70);
}

.text {
    text-align: center;
    padding-top: 400px;
    font-family: 'ramadan';
    font-size: 35px;
    color: rgb(243, 243, 8);
    margin-bottom: 70px;
}
.stars {
    animation-delay: 0s;
    background-image: url('img/stars.png');
    animation: animate 15s ease-in-out infinite;
    height: 300px;
    z-index: 1;
   position: absolute;
   background-size: 330px;
   top: 0;
   width: 100%;
}
@keyframes animate {
    0%,20%,40%,60%,80%,100% {
        opacity: 0;
    }
    10%,30%,50%,70%,90% {
        opacity: 0.6;
    }
}
@keyframes animate1 {
    0%,20%,40%,60%,80%,100% {
        opacity: 0;
    }
    10%,30%,50%,70%,90% {
        opacity: 0.6;
    }
}
.area h1{
    background-color: linear-gradient(rgb(6, 55, 95), rgb(146, 182, 223));

    width: 300px;
    height: 200px;
    right: 15%;
    top: 12%;
    position: absolute;
    margin-top: 10px;
    font-family: 'danc';
    font-size: 35px;
    color: white;
    text-align: center;
    padding-top: 80px;
    
}
.text p {
    font-size: 70px;
  
}
@keyframes animate2 {
    0% {
        left: 10%;
    }
    100% {
        left: 20%;
    }
}
@keyframes animate3 {
    0% {
        left: 40%;
    }
    100% {
        left: 20%;
    }
}
@keyframes animate4 {
    0% {
        left: 0%;
    }
    100% {
        left: 5%;
    }
}
@keyframes animate5 {
    0% {
        left: 65%;
    }
    100% {
        left: 50%;
    }
}
@keyframes shake1 {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(10deg);
    }
}
@media (max-width: 1024px) {
    .ground .img1 {
        width: 250px;
        left: 30%;
        top: -2%;
    }
    .ground .img4 {
        width: 270px;
    }
    .ground .img5 {
        width: 270px;
    }
    .ground .img2 {
        width: 250px;
        top: 13%;
    }
   
    .area h1 {
    width: 100%;
    height: 0%;
    right: 10%;
    top: 15%;
    position: absolute;
    margin-top: 10px;
    font-family: 'danc';
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 80px;
    }
    .ground .img3 {
        width: 0px;
    }
    .text {
        padding-top: 380px;
    }
    .ups {
        margin-right: 50px;
    }
    .table {
        margin-right: 90px;
    }
    .ups h1 {
        margin: 0 30px;
        font-size: 25px;
    }
    .ups a {
        margin-right: 55px;
    }
    .table {
        padding: 0 10px;
    }
    .dua {
        width: 100%;
        margin-left: 10px;
    }
    .close {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .area h1 {
        right: 0px;
        font-size: 30px;
    }
}
@media (max-width: 768px) {
    .ground .img2 {
        top: 31%;
        width: 0px;
    }
    header {
        overflow: hidden;
    }
    .area h1 {
        top: 120px;
        width: 100%;
    }
    .ups h1 {
        font-size: 20px;
    }
    .ups {
        margin-right: 20px;
    }
    .table {
        display: block;
        width: 745px;
        padding: 0px 0px;
    }
    table {
        margin-bottom: 20px;
    }
    .ups a {
        margin-right: -20px;
    }
    .dua {
        display: block;
    }
    .custom-select {
        margin: 10px 10px;
        
    }
    header {
        overflow: hidden;
    }
    .open h2 {
        font-size: 22px;
    }
    .open p {
        font-size: 19px;
    }
}
@media (max-width: 500px) {
    .ground .img5 {
        top: 20%;
        width: 230px;
    }

    header {
        overflow: hidden;
    }
    .ground .img4 {
        width: 230px;
    }
    .stars {
        overflow: hidden;
    }
    .container {
        overflow: hidden;
    }
    .ground .img2 {
        width: 260px;
    }
    .ups h1 {
        margin-top: 5px;
        font-size: 15px;
    }
    .ups img {
        width: 21px;
    }
    .table {
        width: 100%;
    }
    .dua {
        margin-left: 0px;
        width: 100%;
        margin-left: 10px;
    }
    .open h2 {
        font-size: 22px;
        width: 100%;

    }
    .open p {
        font-size: 20px;
        width: 100%;
    }
    .area h1 {
        left: 0px;
        top: 185px;
        font-size: 27px;
    }
    .close p {
        font-size: 20px;
        width: 100%;
    }
    .ground .img5{
        width: 0px;
    }
    .ground .img2{
        width: 240px;
        top: 147px;
    }
    .close h2 {
        width:  100%;
        font-size: 22px;

    }
    .ups {
        margin-right: 20px;
    }
    .open {
        margin-left: 0px;
        
    }
    .close {
        margin-left: 0px;
        margin-right: 0px;
    }
    .area h1 {
        width: 100%;
        font-size: 27px;
    }
}
@media(max-width: 376px) {
    .dua {
        width: 100%;
    }
    .open h2 {
        font-size: 17px;
        display: flex;
    }
    .close h2 {
        font-size: 20px;
    }
    .open p {
        font-size: 16px;
        width: 100%;
    }
    .close p {
        font-size: 16px;
        width: 100%;
    }
    .table {
        margin-left: 12px;
    }
    table th {
        padding: 0 2px;
        font-size: 9px;
    }
    tr > td {
        font-size: 11px;
    }
    .text p {
        margin-bottom: -24px;
        font-size: 47px;
    }
    header {
        overflow: hidden;
    }
    .dua {
        overflow: hidden;
    }
}
@media (max-width: 360px){
    tr > td {
        font-size: 10px;
    }
    .open h2 {
        font-size: 16px;
    }
    .area  {
        overflow: hidden;
    }
    .ups {
        overflow: hidden;
    }
    .text {
        overflow: hidden;
    }
    .close h2 {
        font-size: 24px;
    }
    .close p {
        font-size: 16px;
        width: 100%;
    }
    .open p {
        width: 100%;
        font-size: 16px;
    }
}
@media (max-width: 415px){
    .text p {
        font-size: 55px;
    }
    tr > td {
        font-size: 10px;
    }
    table th {
        padding: 0 2px;
        font-size: 11px;
    }
    .close h2 {
        font-size: 19px;

    }
    .open h2 {
        font-size: 17px;
    }
    .close p {
        width: 100%;
        font-size: 16px;
        padding-right: 0px;
    }
    .open p {
        width: 100%;
        font-size: 16px;
        padding-right: 0px;
    }

}
@media (max-width: 280px){
    .ground .img1 {
        width: 190px;
        left: 30%;
        top: 3%;
    }
    header {
        overflow: hidden;
    }
    .ground .img4 {
        width: 195px;
        top: 30px;
    }
    .ground .img2 {
        width: 226px;
        top: 147px;
    }
    .text p {
        font-size: 42px;
    }
    table th {
        padding: 0px 0px;
        font-size: 7px;
    }
    tr > td {
        font-size: 5px;
    }
    .open h2 {
        font-size: 12px;
    }
    .close h2 {
        font-size: 12px;
    }
    .open p {
        width: 100%;
        font-size: 10px;
        padding-right: 0px;
    }
    .close p {
        width: 100%;
        font-size: 10px;
        padding-right: 0px;
    }
}
@media (max-width: 540px){
    .ground .img5 {
        width: 0px;
        top:17%
    }
    .ground .img4 {
        width: 191px;
    }
}
@media (max-width: 415px){
    .ground .img1 {
        width: 220px;
        left: 30%;
        top: -2%;
    }
    tr > td {
        font-size: 7px;
    }
    .open p {
        width: 100%;
        font-size: 11px;
        padding-right: 0px;
    }
    .open h2 {
        font-size: 15px;
    }
    .close p {
        width: 100%;
        font-size: 11px;
        padding-right: 0px;
    }
    .close h2 {
        font-size: 15px;
    }
}


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


footer{
  background-color: rgb(66, 30, 163);
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  padding-bottom: 10px;
  /* background:  */
}
.wrapper{
  display: inline-flex;
}
.wrapper .icon{
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span{
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span i{
  line-height: 60px;
  font-size: 25px;
}
.wrapper .icon .tooltip{
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip{
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
.icon .tooltip:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover span{
  color: #fff;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrapper .telegram:hover span,
.wrapper .telegram:hover .tooltip,
.wrapper .telegram:hover .tooltip:before{
  background: #178ba8;
}

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before{
  background: #e1306c;
}
.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before{
  background: #333;
}
.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip:before{
  background: #DE463B;
}